torch==1.10
torchvision
Pillow
zhconv==1.4.0 
pypinyin==0.34.1
pywubi==0.0.2 
scikit-learn==0.19.1 
boto3
numpy 
logging 
requests 
tqdm 
pathlib  
botocore 
overrides
argparse 
pandas 
torchtext 
datetime  
jieba 

