torch 
torchvision 
PIL  
zhconv==1.4.0 
pypinyin==0.34.1
pywubi==0.0.2 
scikit-learn==0.19.1

re 
csv 
json 
copy 
math
boto3
shutil
numpy 
_pickle 
logging 
itertools 
tempfile 
requests 
random
tqdm 
pathlib 
hashlib 
functools 
urllib 
botocore 
typing 
unicodedata 
collections 
overrides
argparse 
pandas 
collections 
torchtext 
datetime 
gc 
jieba 

